snippet \fr "frac"
\frac{$1}{$2}$0
endsnippet

snippet $ "inline math"
$$1$$0
endsnippet

snippet $$ "math block"
$$$1$$$0
endsnippet

snippet t "tag"
\tag{$1}$0
endsnippet

snippet fr "\frac" i
\frac{${1:num}}{${2:num}}$0
endsnippet

snippet l( "left ("
\left($1\right$0
endsnippet
	
